*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif !important;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: auto;
}